[submodule "standard/bbf"]
	path = standard/bbf
	url = https://github.com/BroadbandForum/yang
[submodule "standard/mef"]
	path = standard/mef
	url = https://github.com/mjethanandani/YANG-public
	branch = master
[submodule "vendor/huawei"]
	path = vendor/huawei
	url = http://github.com/Huawei/yang.git
[submodule "vendor/fujitsu"]
	path = vendor/fujitsu
	url = https://github.com/FujitsuNetworkCommunications/FSS2-Yang.git
[submodule "standard/etsi/SOL006"]
	path = standard/etsi/SOL006
	url = https://github.com/etsi-forge/nfv-sol006
[submodule "standard/etsi/SOL006-v2.6.1_tag"]
	path = standard/etsi/SOL006
	url = https://github.com/etsi-forge/nfv-sol006
	tag = v2.6.1
[submodule "standard/etsi/SOL006-v2.7.1_branch"]
	path = standard/etsi/SOL006
	url = https://github.com/etsi-forge/nfv-sol006
	branch = v2.7.1
